body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #ffffff;
}
h1 {
  color: #252525;
  text-align: center;
}
.preview-section {
  scroll-margin-top: 20px;
}

.card {
  border-radius: 12px;
}
